page-about {

#grad {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(blue, green); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(blue, green); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(blue, green); /* For Firefox 3.6 to 15 */
    background: linear-gradient(blue, green); /* Standard syntax */
    }



}
