<ion-header>
  <ion-navbar>

      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<!--       description:this.postsMessage, 
      type:this.postsTitle, 
      name:this.postsName, 
      date:this.myDate, 
      price:this.postsEstimate,
      created:Date.now() -->

<!--     <ion-item *ngFor="let post of posts">
      <ion-icon name="contact" item-left></ion-icon>
      {{post.name}}<br>
      <p>{{ post.date | date }} - #4</p>
      <p>{{ post.description }} </p>
      <ion-icon name="mail" item-right></ion-icon>
      <ion-icon name="calculator" item-right></ion-icon>
      <p item-right>$ {{ post.price }}<br>
      <button ion-button color="light">Draft</button>
    </ion-item> -->

<ion-content>
  <ion-list>
    <ion-list-header>Contact List</ion-list-header>
    <ion-item *ngFor="let post of posts">
      <ion-icon name="contact" item-left></ion-icon>
      {{ post.name }}
      <p item-right>{{ post.date | date }}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="contact" item-left></ion-icon>
      @boarderdav
    </ion-item>

  </ion-list>


  <ion-item>
    <ion-label>Message</ion-label>
    <ion-input type="text" [(ngModel)]="message"></ion-input>
  </ion-item>
  <button ion-button block (click)="sendMessage()">Send</button>

  <ion-list>
    <ion-item *ngFor="let chat of chats">
      <h2>{{chat.text}}</h2>
      <p>Posted {{chat.created | date}} at {{ chat.created | date:'shortTime' }}</p>
    </ion-item>
  </ion-list>





</ion-content>
