// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

#grad {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#273F5E, #53A661); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#273F5E, #53A661); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#273F5E, #53A661); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#273F5E, #53A661); /* Standard syntax */
    }

#clearbackground {
	background-color:transparent;
}